<!DOCTYPE html>
<html>
<head>
<title>AI Chat</title>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

<!-- SIDEBAR -->

<div class="sidebar">

<h2>AI Chat</h2>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="mobile-header">
<button id="menuBtn">☰</button>
<span>AI Chat</span>
</div>
<button id="themeToggle" class="theme-toggle">
🌙 Dark
</button>
<a href="/new/" style="text-decoration:none;color:white;">
<div class="new-chat">+ New Chat</div>
</a>

<div class="chat-list">

{% for s in sessions %}

<div class="chat-item">

<a href="/chat/{{ s.id }}/">
{{ s.title }}
</a>

<a href="/delete/{{ s.id }}/"
class="delete"
onclick="return confirm('Delete chat?');">
✕
</a>

</div>

{% empty %}

<p>No chats yet</p>

{% endfor %}

</div>

<a href="/accounts/logout/" class="logout">
Logout
</a>

</div>


<!-- CHAT AREA -->

<div class="chat-container">

<div class="messages" id="messages">

{% if messages %}

{% for message in messages %}

{% if message.role == "user" %}

<div class="message-row user-row">

<div class="avatar user-avatar">U</div>

<div class="message">
{{ message.content }}
</div>

</div>

{% else %}

<div class="message-row">

<div class="avatar bot-avatar">AI</div>

<div class="message">
{{ message.content }}
</div>

</div>

{% endif %}

{% endfor %}

{% else %}

<p>Start a conversation...</p>

{% endif %}

</div>


<!-- INPUT -->
<form method="POST" enctype="multipart/form-data" class="input-area">

{% csrf_token %}

<div class="input-box">

<input
type="text"
name="message"
placeholder="Send a message..."
>

<label class="file-upload">
📎
<input type="file" name="file" hidden>
</label>

<button type="submit">
Send
</button>

</div>

</form>



</div>
<script src="{% static 'js/script.js' %}"></script>

